<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>

    <link rel="stylesheet" href="../../../public/css/404.css">
</head>
<body>
    <section class="wrapper">
        <h1>Erro 404!</h1>
        <hr>
        <p>Não tem nada por aqui...</p>
        <p>Acho que pode começar a procurar por <a href="/web-chat/">aqui</a></p>
    </section>
</body>
</html>
