<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebChat</title>

    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/conversas.css">
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <section id="wrapperConversas" class="wrapperConversas">
        <section class="users">
            <header>
                <div class="content">
                    <img src="img/imgTeste.png">
                    <div class="details">
                        <span>{{ userName }}</span>
                        <p>online</p>
                    </div>
                </div>
                <a href="#" class="options"><i class="fas fa-ellipsis-v"></i></a>
            </header>
            <div class="search">
                <span class="text">Pesquisar</span>
                <input type="text" placeholder="Escreva um nome para pesquisar.">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="users-list">
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="img/imgTeste.png" alt="">
                        <div class="details">
                            <span>Asymo Bot</span>
                            <p>Oi, tb?</p>
                        </div>
                    </div>
                    <div class="status-dot"><i class="fas fa-circle"></i></div>
                </a>
            </div>
        </section>
    </section>
    <section id="wrapperChat" class="wrapperChat">
        <section class="chat-area">
            <header>
                <img src="img/imgTeste.png">
                <div class="details">
                    <span>Samuel Mayer</span>
                    <span class="status">status da pessoa</span>
                </div>
            </header>
            <div class="chat-box">
                <div class="chat outgoing">
                    <div class="details">
                        <p>Mensagem de teste Mensagem de teste Mensagem de teste Mensagem de teste Mensagem de teste</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <div class="details">
                        <p>Mensagem de teste</p>
                    </div>
                </div>
                <div class="chat incoming">
                    <div class="details">
                        <p>Mensagem de teste</p>
                    </div>
                </div>
            </div>
            <form action="#" class="typing-area">
                <input type="text" class="incoming_id" name="incoming_id" value="<?php echo $user_id; ?>" hidden>
                <input type="text" name="message" class="input-field" placeholder="Type a message here..." autocomplete="off">
                <button><i class="far fa-paper-plane"></i></button>
            </form>
        </section>
    </section>
</body>
</html>
