<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebChat</title>

    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/conversas.css">
    <link rel="stylesheet" href="css/chat.css">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <section id="wrapperConversas" class="wrapperConversas">
        <section class="users">
            <header>
                <div class="content">
                    <img src="img/imgTeste.png">
                    <div class="details">
                        <span>{{ userName }}</span>
                        <p>online</p>
                    </div>
                </div>
                <div href="#" class="options">
                    <i class="fas fa-ellipsis-v"></i>
                    <ul class="optionsDropdown">
                        <li>Editar Perfil</li>
                        <li><a href="./logout/">Logout</a></li>
                    </ul>
                </div>
            </header>
            <div class="search">
                <span class="text">Pesquisar</span>
                <input type="text" placeholder="Escreva um nome para pesquisar.">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="users-list">
                {% for usuario in conversas %}
                    <a href="#" class="conversa" id="{{ usuario.id }}">
                        <div class="content">
                            <img src="img/imgTeste.png" alt="">
                            <div class="details">
                                <span>{{ usuario.nome }}</span>
                                <p>{{ usuario.ultimaMsg }}</p>
                            </div>
                        </div>
                        <div class="status-dot"><i class="fas fa-circle"></i></div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </section>
    <section id="wrapperChat" class="wrapperChat">
        <div class="chat-area">
            <div class="teste">
                <i class="far fa-comments"></i>
            </div>
        </div>
    </section>

    <script src="js/index.js"></script>
</body>
</html>
