<section class="form signup">
    <header>Chat Web</header>
    <form action="#" method="POST" enctype="multipart/form-data" autocomplete="off">
      <div class="error-text"></div>
      <div class="field input">
        <label>Login</label>
        <input type="text" name="login" placeholder="Login" required>
      </div>
      <div class="field input">
        <label>Senha</label>
        <input type="password" name="senha" placeholder="Senha" required>
      </div>
      <div class="field button">
        <input type="submit" name="submit" value="Continue to Chat">
      </div>
    </form>
    <div class="link">And não tem um login? <a href="../registro">Cadastrar-se</a></div>
</section>